{% extends "layouts/base.html" %}

{% block title %} Search Results {% endblock title %}

{% block content %}
<div style="margin: 20px;">
    <h2>Search Results:</h2>

    {% if books %}
        <ul>
        {% for obj in books %}  <li>
                <strong>ID:</strong> {{ obj.id }} <br> <strong>Title:</strong> {{ obj.title }} <br> <strong>Author:</strong> {{ obj.author }} <br> <hr>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No books found matching your search criteria.</p>
        <a href="{% url 'search' %}">Try searching again</a>
    {% endif %}
</div>
{% endblock content %}